.loading-overlay {
  position: fixed;
  inset: 0;                     /* top, laterales y bottom a 0 */
  width: 100vw;
  height: 100dvh;               
  min-height: 100vh;            
  z-index: 0;                   /* Lo he bajado */
  overflow: hidden;             /* se evita que aparezca una "scrollband" */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5C694D;    /* color de fondo mientras carga la imagen de fondo (es el mismo que el fondo de la img) */
}


.loading-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;       /* la img cubre todo */
  /* imgen por defecto la de la versión movil */
  background-image: url("/loading-mobile.svg");
}

.gif-loading {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* que no interfiera con clicks */
  z-index: 2;
}

.loading-gif {
  width: auto;
  height: 290px;
  display: block;
  object-fit: contain;
}

/* versión de escritorio se cambia la img a la que se ajusta mejor a esta versión */
@media (min-width: 600px) {
  .loading-container {
    background-image: url("/loading-desktop.svg");
  }
}



@media (min-width: 900px) {
  .loading-overlay {
    background-color: #5C694D;
  }

  .loading-container {
    background-image: url("/loading-desktop.svg");
  }
}