.loading-container {
  display: flex;
  width: 100%;
  height: 100vh;        /* ocupa toda la altura de la ventana */
  margin: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Imagen principal de loading (se cambia con media queries) */
.loading-image {
  width: 100%;
  height: auto;
  display: block;
}

.gif-loading {
  position: fixed;           /* pegado a la ventana */
  left: 50%;                 /* centrar horizontalmente */
  bottom: 100px;              /* separación inferior (ajusta a tu gusto) */
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;      /* que no interfiera con clicks */
  z-index: 1000;             /* por encima de contenidos */
}

.loading-gif {
  width: auto;
  height: 290px;
  display: block;
  object-fit: contain;

}


/* Por defecto: móvil → se usa el src del JSX (loading-mobile.svg) */

/* En pantallas a partir de 600px cambiamos a desktop */
@media (min-width: 600px) {
  .loading-container {
    background-color: #000; /* cambiar al color de la imágen para que no se vea el hueco que queda */
  }
  .loading-image {
    content: url("/loading-desktop.svg");
  }
}

@media (min-width: 900px) {
  .loading-container {
    background-color: #F2EDDA; /* cambiar igual que arriba */
  }
  .loading-image {
    content: url("/loading-desktop.svg");
  }
}