.header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.main-header {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #5C694D;
  color: #FFFAF4;
  box-sizing: border-box;
  text-align: center;
}

h1{
  font-size: 16px;
}

.filter {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #F2EDDA;
  box-sizing: border-box;
}

.filter-icon {
  vertical-align: middle;
  margin-right: 8px;
  height: 24px;
}

.nmi-boto {
  background-color: #F2EDDA;
  border-radius: 8px;
}