.header {
position:sticky;
left:0;
top:0;
}

.main-header {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #5C694D;
  color: #FFFAF4;
  box-sizing: border-box;
  text-align: center;

}
.filter {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #F2EDDA;
  color: #FFFAF4;
  box-sizing: border-box;
}