.header {
  height: 100px;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.main-header {
  width: 100%;
  padding: 37px 20px 10px;
  background-color: #5C694D;
  color: #FFFAF4;
  box-sizing: border-box;
  display: flex;

}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 80%;
}

.filter {
  width: 100%;
  padding: 20px;
  background-color: #F2EDDA;
  box-sizing: border-box;
}

.nmi-boto {
  background-color: #F2EDDA;
  border-radius: 8px;
}

/*logo */

.img-ghibli{
width: 148px;
height: 52px;
}

.titol-ghibli{
  width: 109px;
height: 46px;
padding-left: 6px;
float: right;
}