.header {
  /*height: 100px;*/
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.main-header {
  width: 100%;
  padding: 20px 20px 10px;
  background-color: #5C694D;
  color: #FFFAF4;
  box-sizing: border-box;
  display: flex;

}

h1{
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 92%;
  margin: 0px;
  margin-top: 6px;
  margin-left: 2px;
  letter-spacing: 0.05em;
}

.filter {
  width: 100%;
  padding: 20px 20px 12px 12px;
  background-color: #F2EDDA;
  box-sizing: border-box;
}

.nmi-boto {
  background-color: #F2EDDA;
  border-radius: 8px;
}

/*logo */

.img-ghibli{
width: 29px;
height: 52px;
}

.titol-ghibli{
  width: 109px;
height: 46px;
padding-left: 6px;
float: right;
}