.navigation-menu {
    display: flex;
    align-items: center;
    position:sticky;
    margin-left: 28px;
    margin-right: 28px;
    bottom: 28px;
}

.navigation-pages {
    background-color: #5C694D;
    height: 48px;
    width: 140px;
    border-radius: 48px;
    display: flex;
    align-items: center;
}

.home-page {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.favourites-page {
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
}

.selected-page:before {
    background-color: #D1CBA9;
    height: 44px;
    width: 100%;
    border-radius: 46px;
    position: absolute;
    content: "";
    border: 2px solid #5C694D;
}

.search-bar {
    background-color: #5C694D;
    height: 48px;
    width: 48px;
    margin-left: auto;
    margin-right: 0;
    border-radius: 48px;
    display: flex;
    justify-content: center;
}

.search-bar .search-icon {
    color: white;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}

.totoro-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrat */
  width: 24px;
}

.star-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
}