.navigation-menu {
    display: flex;
    align-items: center;
    position:sticky;
    margin-left: 28px;
    margin-right: 28px;
    bottom: 28px;
}

.navigation-pages {
    background-color: #5C694D;
    height: 48px;
    width: 140px;
    border-radius: 48px;
    
}

.search-bar {
    background-color: #5C694D;
    height: 48px;
    width: 48px;
    margin-left: auto;
    margin-right: 0;
    border-radius: 48px;
}