.navigation-menu {
    display: flex;
    align-items: center;
    position:sticky;
    margin-left: 28px;
    margin-right: 28px;
    bottom: 28px;
}

.navigation-pages {
    background-color: #5C694D;
    height: 48px;
    width: 140px;
    border-radius: 48px;
    display: flex;
    align-items: center;
    position: relative;
}

.navigation-pages.contracted {
    width: 48px;
    height: 48px;
    background-color: #5C694D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease, border-radius 0.3s ease;
    padding: 0;
}

.contracted-page {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home-page {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;
}

.favourites-page {
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
    z-index: 1;
}

.selected-page:before {
    background-color: #D1CBA9;
    height: 44px;
    width: 100%;
    border-radius: 46px;
    position: absolute;
    content: "";
    border: 2px solid #5C694D;
}

.search-bar {
    background-color: #5C694D;
    height: 48px;
    width: 48px;
    margin-left: auto;
    margin-right: 0;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    transition: width 0.3s ease;
    position: relative;
}

.search-bar.expanded {
    width: 270px;
    justify-content: flex-start;
    padding-left: 12px;
    background-color: #D1CBA9;
}

.search-bar .search-icon {
    color: white;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
}

.search-bar.expanded .search-icon {
    color: #5C694D;
}


.search-input {
    width: 260px;
    height: 32px;
    border-radius: 16px;
    border: none;
    padding: 0 12px;
    font-size: 16px;
    outline: none;
    margin-top: 8px;
    background: transparent;
    color: #5C694D;
}

.totoro-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrat */
  width: 24px;
}

.heart-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
}

.sliding-marker {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  height: 44px;
  background-color: #D1CBA9;
  border-radius: 46px;
  border: 2px solid #5C694D;
  z-index: 0;
  pointer-events: none;
  transition: left 0.3s cubic-bezier(0.4,0,0.2,1), transform 0.3s cubic-bezier(0.4,0,0.2,1);
  transform: translateY(-50%);
}
.sliding-marker.favourites {
  left: 50%;
}
.sliding-marker.home {
  left: 0;
}