body{
  padding-bottom: 80px;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1; /* Fa que el contingut principal creixi per omplir l'espai */
  width: 100%;
  max-width: 1200px; /* Amplada màxima per a escriptoris */
  margin: 0 auto;
  padding: 0 10px; /* Espai als costats en mòbil */
  box-sizing: border-box; /* Important! */
}